body {
  background-color: #ffe1e1;
}

h1 {
  color: #6e85b7;
}

h3 {
  color: #6e85b7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 150px;
  border-radius: 100%;
}
